$menuWidthMedium: 12%;
$menuWidthSmall: 16%;
$fat: 1700px;
$big: 1600px;
$medium: 1500px;
$medium-low: 1450px;
$medium-light: 1200px;
$small: 1000px;
$tablet: 768px;
$mobile: 560px;
$gutter: 1.5rem;
$light-beige: #e4d5cd;
$light-brown: #b38b71;
$brown: #8a6a58;
$red-brown: #a24227;
$gold: #dca64a;
$white: #fff;
$dark: #000;
